[logging]
level = INFO

[client]
username = admin
password = admin

[address_rest]
host = localhost
port = 8111

[api]
auth = auth/login
super_scheduler_task = super_scheduler/v1/task
jobmanager = dtcd_jobsmanager/v1

[celery]
# max retries task
max_retries = 5
# coef for exponential time sleep between retries: 1 * k, 2 * k, 4 * k, 8 * k, ...
retry_jitter = 3
# max time sleep between retries
max_retry_backoff = 300
# auto-disable after N fails
auto-disable = True

