[logging]
level = INFO

[client]
username = admin
password = admin

[address_rest]
host = localhost
port = 55555

[api]
auth = auth/login/
super_scheduler_task = super_scheduler/v1/task/
makejob = jobsmanager_transit/v1/makejob/
